* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

p {
  text-align: justify;
}

header {
  background-color: #073042;
  color: #d9d9d9;
  position: sticky;
  top: 0px;
}

header a:link {
  color: #d9d9d9;
  text-decoration: none;
}

header a:visited {
  color: #d9d9d9;
}

header a:hover {
  color: #3ddc84;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
}

section:first-child {
  background-color: #073042;
  color: #d9d9d9;
}

.name,
.dp {
  width: 50%;
}
