@tailwind base;
@tailwind components;
@tailwind utilities;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Font ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
  font-family: "FiraCode";
  src: url("/assets/fonts/fira_code-variable_font_weight.ttf")
    format("truetype");
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Variables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  /* colors */
  --background: #282c33;
  --gray: #ccced2;
  --gray: #abb2bf;
  --primary: #c778dd;
  --white: #ffffff;

  /* cursors */
  --cursor-pointer: url("/assets/images/cursors/cursor-pointer.svg"),
    pointer;
  --cursor-default: url("/assets/images/cursors/cursor-default.svg"),
    default;
  --cursor-text: url("/assets/images/cursors/cursor-text.svg"), text;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Text Selection ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--primary);
}

::selection {
  color: var(--background);
  background: var(--primary);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Other Common Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FiraCode", monospace;
  background-color: var(--background);
  color: var(--white);
  font-weight: 400;
  cursor: var(--cursor-default);
}

label {
  cursor: var(--cursor-default);
}

input,
textarea {
  cursor: var(--cursor-text);
}

input[type="submit"] {
  cursor: var(--cursor-pointer);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Custom Scroll Bar for webpage ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--background);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #bfa9c6;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Custom Scroll Bar for text-area ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background-color: var(--gray);
  border-radius: 100px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #393c40;
  border-radius: 100px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #bfa9c6;
}
