@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraCode";
  src: url("/src/assets/fonts/fira_code-variable_font_weight.ttf")
    format("truetype");
}

:root {
  /* colors */
  --background: #282c33;
  --gray: #abb2bf;
  --primary: #c778dd;
  --white: #ffffff;

  /* cursors */
  --cursor-pointer: url("/src/assets/images/cursor-pointer.svg"), pointer;
  --cursor-default: url("/src/assets/images/cursor-default.svg"), default;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--primary);
}

::selection {
  color: var(--background);
  background: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FiraCode", monospace;
  background-color: var(--background);
  color: var(--white);
  font-weight: 400;
  cursor: var(--cursor-default);
}
